{% extends "main.html" %}
{% block content %}
<div class="login_div">
    <img class="login_img" src="/static/images/Side-Background-Outer.png" alt="img">
    <div class="login_div1">
        <div>
            <h1 class="login_h1">Welcome</h1>
            <p class="login_p">Let’s sign you up quickly</p>
            <form method="POST" action="{% url 'sign-up' %}">
                {% csrf_token %}
                {{ form.as_p }}
            <div class="login_div2">
                <button type="submit" class="login_button">SUBMIT</button>
                <div><p class="login_p1">already have an account?<br><a class="login_a" href="{% url 'log-in' %}">log-in</a></p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    
